.header {
  background-image: url("../images/image1.jpg");
  height: 600px; }
  .header nav {
    padding-top: 30px;
    padding-bottom: 30px; }
  .header button {
    border: 2px solid #46a6d0; }
    .header button span {
      border: 2px solid #46a6d0; }
  .header .navbar {
    background-color: #3e4950;
    opacity: 0.7; }
    .header .navbar .navbar-brand {
      float: none;
      font-weight: bold;
      font-size: 25px;
      color: white;
      line-height: 33px; }
    .header .navbar .navbar-header {
      text-align: center; }
  .header #navbar ul li a {
    color: white; }
  .header .navbar-nav > li > a {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px; }
    .header .navbar-nav > li > a:hover {
      background-color: #3e4950; }
  .header span {
    color: #46a6d0; }
  .header .header-text {
    position: relative;
    top: 30%; }
    .header .header-text p {
      display: block;
      font-size: 28px;
      margin-bottom: 12px; }
      .header .header-text p .middle-text {
        color: white !important;
        background-color: #3e4950;
        padding: 5px 7px 5px 7px; }
  .header .navbar-nav > li > a.active.focus, .header .navbar-nav > li > a.active:focus, .header .navbar-nav > li > a.focus, .header .navbar-nav > li > a:active.focus, .header .navbar-nav > li > a:active:focus, .header .navbar-nav > li > a:focus {
    background-color: #3e4950; }
  @media (max-width: 768px) {
    .header .navbar-nav > li > a {
      text-align: center; }
    .header .header-text p {
      font-size: 20px; }
    .header nav {
      padding-bottom: 0px; } }
  @media (max-width: 425px) {
    .header .header-text p {
      font-size: 15px; } }

.services {
  background-color: #4bcaff;
  color: white; }
  .services .container {
    padding-bottom: 40px; }
  .services h2 {
    padding-top: 35px; }
    .services h2:after {
      width: 40px;
      height: 4px;
      content: "";
      background: white;
      position: relative;
      display: block;
      left: 20px;
      transform: translate(-50%); }
  .services img {
    padding-top: 30px;
    padding-bottom: 0px;
    width: 70px; }
  .services h3 {
    padding-bottom: 10px; }

.portfolio .heading h2:after {
  width: 40px;
  height: 4px;
  content: "";
  background: black;
  position: relative;
  display: block;
  left: 20px;
  transform: translate(-50%); }

.portfolio .heading a {
  margin-left: 40px;
  color: black; }
  .portfolio .heading a:hover {
    text-decoration: none; }

.portfolio .heading a:first-child {
  margin-left: 0px;
  padding: 5px 12px 5px 12px; }

.portfolio .heading .pull-right {
  margin-top: -35px; }

@media (max-width: 767px) {
  .portfolio .heading .pull-right {
    margin-top: -38px; } }

@media (max-width: 725px) {
  .portfolio .heading .pull-right {
    margin-top: 0px; }
  .portfolio .heading .heading a {
    padding-top: 50px; } }

@media (max-width: 725px) {
  .portfolio .heading a {
    margin-left: 10px; } }

.active {
  color: #46a6d0 !important;
  border: 2px solid #46a6d0; }
